<link rel="stylesheet" href="/css/styles.css" media="screen" charset="utf-8">

<style media="screen">
    .page-container {
        padding:24px;
    }
    @media (max-width: 700px) {
        .page-container {
            padding:12px;
        }
    }
    @media (max-width: 500px) {
        .page-container {
            padding:6px;
        }
    }
    div.input-container {
        max-width: 500px;
        margin-right:0px;
        margin-left:0px;
        margin:auto;
        padding: 0px 24px;
        padding-top: 24px;
    }
    div.input-container textarea {
        resize: none !important;
    }

    ul.simple-tabs {
        padding-left: 10px;
        margin-top: 10px;
        border-bottom: 1px rgb(200,200,200) solid;
        display: block;
        padding-bottom: -1px;
    } ul.simple-tabs li {
        padding-left: 10px;
        display: inline-block;
        text-decoration: none;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 10px;
        white-space: nowrap;
        transform: translateY(1px);
    } ul.simple-tabs li label {
        margin-bottom: 0px;
    }
    ul.simple-tabs li.active {
        border: 1px rgb(200,200,200) solid;
        border-bottom: none;
        background-color: white;
    }

    .open-pricing-tab {
        padding-left: 10px;
    }

    h4.white {
        font-weight: 300;
    }
    .help-block {
        font-size: 12px;
    }
</style>

<div class="container page-container" ng-controller="ListingController">
    <div>
        <div id="map" style="height:200px; margin-bottom: 24px;"></div>
        <div>
            <label for="address">Listing Location -- </label><span id="address" style="padding-left: 20px;"></span>
        </div>
    </div>
    <div class="input-container">
        <form name="listingForm" novalidate>
            <div class="form-group" ng-class="{'has-error': listingForm.headline.$invalid}">
                <input class="form-control" type="text" name="headline" value="" placeholder="Headline" ng-model="formData.headline" ng-minlength="10" ng-maxlength="100" required="true" aria-describedby="headlineHelp">
                <span id="headlineHelp" class="help-block" ng-if="listingForm.headline.$invalid">Headline must have a minimum length of 10 and a maximum of 100.</span>
            </div>
            <div class="form-group" ng-class="{'has-error': listingForm.description.$invalid}">
                <textarea class="form-control" type="text" name="description" placeholder="Description" value="" rows="5" ng-model="formData.details" maxlength="5000"  aria-describedby="descriptionHelp"></textarea>
                <span id="descriptionHelp" ng-if="listingForm.description.$invalid" class="help-block">Description must have a length no greater than 5000 characters.</span>
            </div>
            <div class="form-group" ng-class="{'has-error': listingForm.url.$invalid}">
                <input class="form-control" type="text" name="url" value="" placeholder="[ http://www.example.com/more-info ]" ng-model="formData.url"
                    pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,4}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)" ng-maxlength="200">
                <span id="urlHelp" ng-if="listingForm.url.$invalid" class="help-block">Must be a semi-standard valid HTTP url. Must have a length no greater than 200 characters.</span>
            </div>


            <h4>File Attachments</h4>
            <br>
            <div ng-include="'/partials/listing/pricing.html'"></div>
            <br>
            <button class="btn btn-primary" value="" style="padding: 0 40px;" ng-disabled="listingForm.$invalid" ng-click="submitListing();"><h4 class="white">Submit Listing</h4></button>
            <br><br>
        </form>
    </div>
</div>

<script type="text/javascript">
    function initMap() {
        var map = new LocalTalkMap(document.getElementById('map'));
        map.onMarkerPositionChanged(function (mapData) {
            var currentLocation = mapData.position;
            console.log(currentLocation.lat, currentLocation.lng, currentLocation.address);
            document.getElementById("address").innerHTML = currentLocation.address ? currentLocation.address : "\"" + currentLocation.lat + ", " + currentLocation.lng + "\"";
        });
    }
</script>
<script src="/js/localTalkMap.js" charset="utf-8"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBJnlX8d298-3t6F45FoKrrECkn6s6kHE&callback=initMap">
</script>
