<div class="container" ng-controller="MainController">

    <div id="my-listings" class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="checkbox" ng-repeat="(key, listing) in listings">
                <label>
                    <a href="/listings/{{listing._id}}">{{ listing.headline }}</a>
                </label>
            </div>

        </div>
    </div>

    <div id="new-listing-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">
                </div>
            </form>
        </div>
    </div>
</div>
