<style media="screen">
    .simple-nav {
        background-color: #f8f8f8;
        display: block;
        border-bottom: 1px rgb(231, 231, 231) solid;
    }
    .simple-nav a { color: #777; text-decoration: none; }

    .simple-nav a:hover {
        color: #333;
        background-color: transparent;
        text-decoration: none;
    }

    .simple-nav .simple-nav-header *:hover {
        color: #5e5e5e;
    }

    .simple-nav-list {
        height:50px;
    }
    .simple-nav-list span {
        line-height: 20px;
        padding: 15px;
        display: inline-block;
    }
</style>

<nav class="simple-nav" ng-controller="UserController">
    <div class="container">
        <div class="simple-nav-header">
            <a class="navbar-brand" href="/"><strong>Local</strong>Talk</a>
        </div>
        <div class="simple-nav-list pull-right">
            <span ng-if="!!globals.user.username">
                <a class= "navbar-link" href="/profile">{{globals.user.username}}</a>
            </span>
            <span>
                <a class= "navbar-link" ng-if="!globals.user.username" href="/login">Sign in / Register</a>
                <a class= "navbar-link" ng-if="!!globals.user.username" ng-click="signOut();">Sign out</a>
            </span>
        </div>
        <!-- <ul class="nav navbar-nav">
            <li class=""><a href="/">Home</a></li>
        </ul> -->

    </div>
</nav>
